<div class="modal-header">
  <h4 class="modal-title">{{preacher.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid" *ngIf="preacher">
    <div class="row">
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="preacherList"
          [searchKeyword]="keyword"
          placeHolder="Enter the Preacher Name"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
    <hr>
    <div class="row">
      <button class="btn btn-primary" style="margin-right: 0.2rem; margin-bottom: 0.2rem" *ngFor="let member of preacher.group; index as i">
        {{member}}
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="addPreacher()">ADD PREACHER TO GROUP</button>
  <button type="button" class="btn btn-outline-warning" (click)="activeModal.close('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Save</button>
</div>

