<input class="form-control" id="exampleDataList" placeholder="Type to search..." (keydown)="searchTextChanged($event)">
<div *ngIf="searchResult.length > 0">
  <ul>
    <li *ngFor="let result of searchResult">{{result}}</li>
  </ul>
</div>
<hr>
<h4>Territories <span *ngIf="lastRegistryEntries">({{lastRegistryEntries.length}} <span *ngIf="territoriesWithoutContacts > 0" style="color:#ff0000;">/ {{territoriesWithoutContacts}}</span> )</span></h4>
<div class="parent-container">
  <div class="container-fluid" *ngIf="lastRegistryEntries">
    <div class="row">
      <div *ngFor="let registryEntry of lastRegistryEntries; index as i" class="col-3">
        <button *ngIf="registryEntry.preacher.name == 'Congregazione'"
                class="{{cssAccordingRegistryEntry(registryEntry)}}"
                (click)="openTerritory(registryEntry.territory)">{{ registryEntry.territoryNumber }} {{ registryEntry.territoryName }} {{registryEntry.assignDate | date:'dd-MM-yy'}}
          <i-bs *ngIf="registryEntry.territory.noContacts" name="droplet"></i-bs>
          <i-bs *ngIf="registryEntry.territory.notes.length > 0" name="info-circle" style="color: red"></i-bs>
        </button>
        <button *ngIf="registryEntry.preacher.name != 'Congregazione'" class="{{cssAccordingRegistryEntry(registryEntry)}} {{cssAccordingDate(registryEntry.assignDate)}}"
                (click)="openTerritory(registryEntry.territory)">{{ registryEntry.territoryNumber }} {{ registryEntry.territoryName }} {{registryEntry.assignDate | date:'dd-MM-yy'}}
          <i-bs *ngIf="registryEntry.territory.noContacts" name="droplet"></i-bs>
          <i-bs *ngIf="registryEntry.territory.notes.length > 0" name="info-circle" style="color: red"></i-bs>
          <span *ngIf="showNamesInTerritoryButton"><br>{{registryEntry.preacher.name}}</span>
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <button class="btn btn-sm btn-primary" (click)="toggleNamesForTerritoryButtons()">Show Names</button>
      </div>
    </div>
  </div>
</div>

<hr>
<h4>Preacher <span *ngIf="congregation.preacherList">({{congregation.preacherList.length}} <span *ngIf="preacherWithoutTerritories > 0" style="color: #960202"> / {{preacherWithoutTerritories}}</span> )</span></h4>
<div class="form-inline">
  <div class="form-group mb-2">
    <label for="UserName" class="sr-only">Preacher Name</label>
    <input type="text" class="form-control" id="UserName" placeholder="UserName" [formControl]="newPreacherName">
  </div>
  <button type="submit" class="btn btn-success mb-2" style="margin-left: 0.2rem" (click)="addNewPreacher()">Add new preacher</button>
</div>
<hr>

<div class="parent-container">
  <div class="container-fluid" *ngIf="congregation">
    <div class="row">
      <div *ngFor="let preacher of congregation.preacherList; index as i" class="col-3">

        <button
                class="{{cssAccordingPreacher(preacher)}}"
                (click)="openPreacher(preacher)">{{ preacher.name }} ({{preacher.territoryListNumbers.length}})
        </button>

        <div *ngIf="preacher.showPreacherActions" class="preacherActions">

          <a href="{{imageUrlBase}}{{preacher.name}}" target="{{preacher.name}}"><img src="{{imageUrlBase}}{{preacher.name}}?{{getCurrentTimeStamp()}}" height="200px"></a>
          <hr>
          <button *ngFor="let territoryNumber of preacher.territoryListNumbers" (click)="openTerritoryByNumber(territoryNumber)" class="btn btn-sm btn-primary" style="margin: 0.1rem">
            {{territoryNumber}}
          </button>
          <hr>
          <button class="btn btn-primary btn-sm" (click)="getWhatsAppMessage(preacher)" value="click to copy" >Copy WhatsAppMessage</button>
          <button class="btn btn-success btn-sm" style="margin-left: 0.1rem" (click)="addGroupMember(preacher)">Add Group Member</button>
          <button class="btn btn-danger btn-sm" style="margin-left: 0.1rem" (click)="deletePreacher(preacher)">Delete</button>
          <button *ngIf="preacher.softdelete" class="btn btn-danger btn-sm" style="margin-left: 0.1rem"
                  (click)="harddeletePreacher(preacher)">Delete for real!!!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h4>Archive <span *ngIf="archivedTerritories">({{archivedTerritories.length}})</span></h4>
<div class="parent-container">
  <div class="container-fluid" *ngIf="archivedTerritories">
    <div class="row">
      <div *ngFor="let territory of archivedTerritories; index as i" class="col-3">
        <button class="btn btn-secondary btn-sm buttonTerritory"
                (click)="openTerritory(territory)">{{ territory.number }} {{ territory.name }}
          <i-bs *ngIf="territory.noContacts" name="droplet"></i-bs>
          <i-bs *ngIf="territory.notes.length > 0" name="info-circle" style="color: red"></i-bs>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<h4>Notes in archived Territories</h4>
<div *ngFor="let territory of archivedTerritories">
  <div *ngIf="territory.notes.length > 0">
  {{territory.number}} {{territory.name}}
    <ul>
      <li *ngFor="let note of territory.notes" style="color: darkred">{{note}}</li>
    </ul>
  </div>
</div>
