.container-fluid {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0c131b !important;
  color: #d8d8d8 !important;
}

h1 { text-align: center}

ul {
  list-style-type: none;
  justify-content: center;
}

li {
  margin-top: 0.3rem;
}
