.container {
  position: fixed;
  width: 20rem;
  background: #320567;
  bottom: 1rem;
  left: 1rem;
}

.wrap_text {
  top: 10px;
  word-wrap: break-word;
  color: #e6ebf1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
