tr {
  cursor: pointer;
}

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}

.btn-xs {
  padding: 0.0rem .25rem 0.0rem .25rem !important;
  font-size: .875rem !important;
  line-height: .5 !important;
  border-radius: .2rem !important;
  height: 1.5rem
}
