<button class="btn btn-primary" (click)="refresh()">REFRESH SITE / CLEAR CACHE</button>

<button style="margin: 0.2rem" class="btn btn-warning" (click)="uploadTerritoryMapUI()">Upload TerritoryMapUI</button>

<button style="margin: 0.2rem" class="btn btn-warning" (click)="downloadMapDesign()">Download MapDesign from FTP</button>

<hr>
<button style="margin: 0.2rem" class="btn btn-warning" (click)="repairDashBoardsAndTerritoryData()">Repair Dashboards and Territory Data</button>
<button style="margin: 0.2rem" class="btn btn-warning" (click)="repairDashBoardsAndTerritoryData(true)">Repair EVERYTHING again - Dashboards and Territory Data</button>
