.collapseContainer {
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
}

.collapseNoContacts {
  background-color: #41000c;
}

.collapse8Months {
  background-color: #ff2d00;
}

.collapse4Months {
  background-color: #ff8c00;
}

.collapseAssigned {
  background-color: #009dff;
}

.collapseToBeAssigned {
  background-color: #00ce29;
}

.collapseHeader {
  color: white!important;
}

button.olderThan8MonthsButton {
  background-color: #aa0000;
  color: white;
}

.btn-territory {
  margin: 0.1rem;
  font-weight: bolder;
}
