// @import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #42495b;
  color: white;
}

.btn-xs {
  padding: 0.0rem .25rem 0.0rem .25rem !important;
  font-size: .875rem !important;
  line-height: .5 !important;
  border-radius: .2rem !important;
  height: 1.5rem
}

.showModal {
  display:block;
}

.cdk-overlay-container {
  z-index:2000;
}

.collapseContainer {
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
}

.collapseNoContacts {
  background-color: #41000c;
}

.collapse8Months {
  background-color: #ff2d00;
}

.collapse4Months {
  background-color: #ff8c00;
}

.collapseAssigned {
  background-color: #009dff;
}

.collapseToBeAssigned {
  background-color: #00ce29;
}

.collapseArchived {
  background-color: #323232;
}

.collapseProtocol {
  background-color: #000000;
}

.collapseHeader {
  color: white!important;
}
