.parent-container {
  display: flex;
}

.buttonTerritory {
  white-space: nowrap !important;
  background-color: #b0d0ee;
  color: #002857;
  font-weight: bolder;
  margin-bottom: 0.1rem;
}

.buttonTerritoryEmpty {
  background-color: #617282;
  color: #dddddd;
}

.buttonPreacher {
  white-space: nowrap !important;
  background-color: #baffc6;
  color: #002857;
  font-weight: bolder;
  margin-bottom: 0.1rem;
}

.buttonPreacherWithTerritories {
  background-color: #fffcba;
}

.buttonPreacherGroupLeader {
  background-color: #005ab3;
  color: #ffffff;
}

.buttonPreacherDeleted {
  background-color: #ffe8e2;
  color: #b6b5b5;
}

.preacherActions {
  background-color: #eeeeee;
}

.inCongregation {
  background-color: #baffc6;
  color: #002857;
}

.inCongregationEmpty {
  background-color: #85b38d;
  color: #ffffff;
}

.olderFourMonths {
  background-color: #ffe100;
  color: #000a1c;
}

.olderEightMonths {
  background-color: #ff9900;
  color: #000a1c;
}

.olderTwelveMonths {
  background-color: #ff0000;
  color: #000a1c;
}
