name: BUILD FINAL-APPROACH

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Install Libs and Build with Maven
        run: |
          mvn -B validate;
          mvn -B package --file pom.xml -Dmaven.test.skip=true
      - name: Upload Artifact - Make Directory
        run: |
          mkdir -p finalApproach;
          cp server/target/server-2.1.1.jar finalApproach/server.jar;
          cp updater/target/updater-2.1.1-jar-with-dependencies.jar finalApproach/launcher.jar;
          cp updater/target/updater-2.1.1-jar-with-dependencies.jar finalApproach/newlauncher.jar;
          cp scripts/start.bat finalApproach/;
      - uses: actions/upload-artifact@v4
        with:
          name: final-approach-2.1.1
          path: finalApproach
